.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 218, 224);
    padding: 10px 10px 10px 10px;
}

.item {
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
}

.itemImg {
    width: 100%;
    height: 250px;
}

.btn {
    width: 100%;
    height: 15%;
    padding: 10px 10px 10px 10px;
    font-size: large;
    text-align: left;
}

.btnImg {
    object-fit: contain;
    width: 1em;
    height: 1em;
    float: right;
}